<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-hidden col-xs-hidden">
 <div class="col-lg-12 col-md-12 col-sm-hidden col-xs-hidden col-centered">
 <nav style="padding-bottom: 0%; padding-top: 5%; display: flex; border: none; background-color: white;">
  <a class="navbar-text" style="font-family: 'Montserrat', sans-serif; letter-spacing: -1px;" routerLink="/home">HOME</a>
  <a class="navbar-text" style="font-family: 'Montserrat', sans-serif; letter-spacing: -1px;" routerLink="/about">ABOUT</a>
  <a class="navbar-text" style="font-family: 'Montserrat', sans-serif; letter-spacing: -1px;" routerLink="/portfolio">PORTFOLIO</a>
  <a class="navbar-text" style="font-family: 'Montserrat', sans-serif; letter-spacing: -1px;" routerLink="/contact">CONTACT</a>
  <a class="navbar-text" style="font-family: 'Montserrat', sans-serif; letter-spacing: -1px;" routerLink="/faq">FAQ</a>
  <a class="navbar-text" routerLink="/home">
  <img src="../assets/images/logo.jpg" style="height: 30px; width: 50px;"> 
  </a>
</nav>
</div>




<div class="col-lg-hidden col-md-hidden col-sm-12 col-xs-12">

  
</div>
</div>

<router-outlet></router-outlet>
<br>
<br>  
</div>